<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main Page2</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="libs/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="/"><i class="fa fa-home"></i>HOME</a></li>
            <li><a href="/create"><i class="fa fa-plus-square"></i>예약생성</a></li>
            <li><a href="/check"><i class="fa fa-check-square"></i>예약확인</a></li>
            <li><a href="/cancel"><i class="fa fa-cut"></i>예약취소</a></li>
<!--            <li><a href="/dayChange"><i class="fa fa-calendar"></i>신청날짜변경</a></li>-->
            <li><a href="/member"><i class="fa fa-user"></i>회원관리</a></li>
        </ul>
        <div class="footer">
            <p>
                footer영역입니다.<br>
                rhrlfkd1111@naver.com
            </p>
        </div>
    </div>