<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>main mobile</title>

    <link rel="stylesheet" href="./css/m.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>

</head>
<body>
<div id="wrapper">
        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
               <i class="fa fa-bars"></i>
            </a>
        </span>
    <div id="menu" class="nav">
        <a href="#" class="close" onclick="closeSlideMenu()">
            <i class="fa fa-times"></i>
        </a>
        <a href="m_user_main.html">HOME</a>
        <a href="m_user_reservation.html">예약하기</a>
        <a href="m_user_check.html">예약확인</a>
        <a href="m_usesr_questions.html">문의사항</a>
        <a href="m_user_ withdraw.html">회원탈퇴</a>
    </div>
    <!-- //slide -->

    <div class="header">
        <h1>Welcome DLMS!</h1>
    </div>
    <!-- //header -->