@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header #title {
    display: inline;
    margin: 50px;
}

.header #home {
    color: #d2d2d2;
    float: right;
    padding: 80px;
}

.img{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
.img img {
    width: 400px;
}
.content {
    position: relative;
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
}
.slider-content {
    position: absolute;
    width: 100%;
    text-align: center;
}
.slider-content .text {
    width: 200px;
}
.slider-content.ani {
    -webkit-transition: left .3s;
    transition: left .3s;
}
.slide {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.slide h1 {
    font-size: 50px;
    font-weight: bold;
}
.content .seat {
    width: 180px;
}
#prev,#next {
    position: absolute;
    top: 65%;
    z-index: 99;
    display: inline-block;
    margin: 30px
}
.nextprev img {
    width: 10em;
}
#next {
    margin-left: 80%;
}
#prev.disabled,#next.disabled {display: none;}




