{{>layout/admin_header}}
        <div class="main_content">
            <div class="header">Welcome! DLMS System.</div>
            <div class="info">
                <div>
                    <img id="checkseat" src="/images/seat.jpg" alt="seat">
                </div>
                <div>
                    <table class="reservation">
                        <thead>
                            <tr>
                                <th scope="cols" colspan="2">예약자 리스트
                                <input type="button" class="btn" value="출력">
                                </th>
                            </tr>
                        </thead>
                        {{#posts}}
                        <tbody>
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>좌석:{{position}} , 핸드폰:{{phone_num}}</td>
                            </tr>
                        </tbody>
                        {{/posts}}
                    </table>
                </div>
            </div>
        </div>
{{>layout/admin_footer}}