{{>layout/admin_header}}
<div class="main_content">
    <div class="header">Welcome! DLMS System.</div>
    <div class="info">
        <div>
            <h2>예약확인하기</h2>
        </div>
        <div class="set">
            <input id="seat" class="seat-btn" type="button" value="121">
            <input id="seat" class="seat-btn" type="button" value="122">

        </div>
    </div>
    <div>
        <table class="reservation">

            <thead>
            <tr>
                <th scope="cols" colspan="2">예약자 리스트
                    <input type="button" value="출력" class="btn1">
                </th>
            </tr>
            </thead>
            <tbody>
            {{#posts}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>예약 위치 : {{position}}  |  핸드폰 번호 : {{phone_num}}</td>
                <td>학번 : {{stduent_id}}</td>
                <td>이름 : {{name}}</td>
            </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
</div>
{{>layout/admin_footer}}