{{>layout/admin_header}}
        <div class="main_content">
            <div class="header">Welcome! DLMS System.</div>
            <div class="info">
                <img id="createseat" src="images/seat.jpg" alt="seat">
                <div class="day">
                    <input type="text" id="from" readonly/> ~ <input type="text" id="to" readonly/>
                    <form id="cre_btn" align="center"><input type=submit value="예약생성"></form>
                    
                </div>
            </div>
        </div>       
    </div>
    <script src="scripts/day.js"></script>
</body>
</html>