{{>layout/admin_header}}

<div class="main_content">
    <div class="header">Welcome! DLMS System.</div>
    <div class="info">
        <div>
            <img id="indexseat" src="/images/seat.jpg" alt="seat">
        </div>
        <div>
            <table class="reservation">
                <thead>
                <tr>
                    <th scope="cols" colspan="2">예약현황</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>내용이 들어갑니다.</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>내용이 들어갑니다.</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>내용이 들어갑니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>layout/admin_footer}}