<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LOGIN PAGE</title>
    
    <link rel="stylesheet" href="css/login.css">
    
    <script type=text/javascript src="libs/jquery-3.4.1.min.js"></script>
    
    
</head>
<body>
    <section class="login-form">
        <h1>DLMS</h1>
        <form action="index.mustache">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="btn" type="submit">LOGIN</button>
            </div>
        </form>
    </section>
    
    <script src="scripts/login.js"></script>
    
</body>
</html>