{{>layout/m_user_header}}
       <div class="content">
            <div class="complete">
                <img src="./images/complete.png" alt="예약완료">
            </div>
       </div>
    </div>
    <script src="scripts/m.js"></script>
    <script src="scripts/imgChange.js"></script>
</body>
</html>



