{{>layout/m_user_header}}
<div class="CheckText">
    <h3>현재 예약하신 사물함입니다!</h3>
</div>

<div class="content">
    <div class="view">
        <input type="text" id="location" class="read" value="번호" readonly/>
        <input type="text" id="price" class="read" value="위치" readonly/>
        <input type="text" id="price" class="read" value="이름" readonly/>
        <input type="text" id="price" class="read" value="전화번호" readonly/>
    </div>
    <div class="rd-btn">
        <button id="del-btn" type="button">삭제</button>
    </div>
</div>
</div>
<script src="scripts/m.js"></script>
<script src="scripts/imgChange.js"></script>
</body>
</html>
























