{{>layout/m_user_header}}
<div class="content">
    <h2>탈퇴이유 (간단하게 입력해주세요!)</h2>
    <input type="text" id="draw-text">
    <div class="rd-btn">
        <button id="del-btn" class="draw-btn" type="submit">탈퇴</button>
    </div>
</div>
</div>
<script src="scripts/m.js"></script>
<script src="scripts/imgChange.js"></script>
</body>
</html>
























