{{>layout/admin_header}}
<div class="main_content">
    <div class="header">Welcome! DLMS System.</div>
    <div class="info">
        <div>
            <h2>회원관리</h2>
        </div>
        <div>
            <table class="reservation">
                <thead>
                <tr>
                    <th scope="cols" colspan="6">회원목록</th>
                </tr>
                </thead>
                <tbody>
                {{#posts}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>학번 : {{stduent_id}}</td>
                        <td> 이름 : {{name}} </td>
                        <td> 전화번호 : {{phone_num}} </td>
                        <td>
                            <button type=button onclick=main.delete({{id}})>회원탈퇴</button>
                        </td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/scripts/member.js"></script>
{{>layout/admin_footer}}