{{>layout/admin_header}}
<div class="main_content">
    <div class="header">Welcome! DLMS System.</div>
    <div class="info">
        <div>
            <h2>회원관리</h2>
        </div>
        <div>
            <table class="reservation">
                <thead>
                <tr>
                    <th scope="cols" colspan="2">회원목록</th>
                </tr>
                </thead>
                <tbody>
                {{#posts}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{phone_num}}<form align="right"><input type=submit value="회원탈퇴"></form></td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{>layout/admin_footer}}