<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userMain</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/u_check.css">
    
    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="/u"><img id="title" src="./images/mainTitle2.png" alt="title"></a>
        <a href="/u" id="home"><i class="fa fa-home fa-5x"></i></a>
    </div>
    <hr>
    <div class="content">
        <div class="int-area">
          <div class="reser">
              <img id="reser" src="./images/resertext.png" alt="text">
          </div>
           <img src="./images/mcloset.png" alt="image">
           <input type="text" id="locate" readonly placeholder="예약한좌석번호"/>
            <input type="text" id="locate" readonly placeholder="이름"/>
            <input type="text" id="price" readonly placeholder="전화번호"/>
            <input type="text" id="price" readonly placeholder="위치"/>
            <button type="submit">DELETE</button>
        </div>
    </div>
    
    
    <script src="scripts/imgbtn.js"></script>
    <script src="scripts/inputCheck.js"></script>
</body>
</html>