<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userMain</title>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/complate.css">

    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="header">
    <a href="/u"><img id="title" src="./images/mainTitle2.png" alt="title"></a>
</div>
<hr>
<div class="content">
    <img src="./images/comlplate.png" alt="완료이미지">
</div>
<div style="text-align: center; margin-top: 50px"><input type="button" onclick="window.close();" value="CLOSE"/></div>

</body>
</html>