<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userMain</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/u_reserve.css">
    
    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="/u"><img id="title" src="./images/mainTitle2.png" alt="title"></a>
        <a href="/u" id="home"><i class="fa fa-home fa-5x"></i></a>
    </div>
    <hr>
    <div class="content">
        <div class="slider-content simple-list" id="slider">
            <div class="slider">
                <img class="seat" id="seat" onclick="change()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat2" onclick="change2()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat3" onclick="change3()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat4" onclick="change4()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat5" onclick="change5()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat6" onclick="change6()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat7" onclick="change7()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat8" onclick="change8()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat9" onclick="change9()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat10" onclick="change10()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat11" onclick="change11()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat12" onclick="change12()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat13" onclick="change13()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat14" onclick="change14()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat15" onclick="change15()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat16" onclick="change16()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat17" onclick="change17()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat18" onclick="change18()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat19" onclick="change19()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat20" onclick="change20()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat21" onclick="change21()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat22" onclick="change22()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat23" onclick="change23()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat24" onclick="change24()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat25" onclick="change25()" src="./images/locker-room.png" alt="seat">
            </div>
            <div class="slider">
                <img class="seat" id="seat26" onclick="change26()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat27" onclick="change27()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat28" onclick="change28()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat29" onclick="change29()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat30" onclick="change30()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat31" onclick="change31()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat32" onclick="change32()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat33" onclick="change33()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat34" onclick="change34()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat35" onclick="change35()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat36" onclick="change36()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat37" onclick="change37()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat38" onclick="change38()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat39" onclick="change39()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat40" onclick="change40()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat41" onclick="change41()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat42" onclick="change42()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat43" onclick="change43()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat44" onclick="change44()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat45" onclick="change45()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat46" onclick="change46()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat47" onclick="change47()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat48" onclick="change48()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat49" onclick="change49()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat50" onclick="change50()" src="./images/locker-room.png" alt="seat">
            </div>
            <div class="slider">
                <img class="seat" id="seat51" onclick="change51()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat52" onclick="change52()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat53" onclick="change53()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat54" onclick="change54()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat55" onclick="change55()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat56" onclick="change56()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat57" onclick="change57()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat58" onclick="change58()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat59" onclick="change59()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat60" onclick="change60()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat61" onclick="change61()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat62" onclick="change62()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat63" onclick="change63()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat64" onclick="change64()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat65" onclick="change65()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat66" onclick="change66()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat67" onclick="change67()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat68" onclick="change68()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat69" onclick="change69()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat70" onclick="change70()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat71" onclick="change71()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat72" onclick="change72()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat73" onclick="change73()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat74" onclick="change74()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat75" onclick="change75()" src="./images/locker-room.png" alt="seat">
            </div>
            <div class="slider">
                <img class="seat" id="seat76" onclick="change76()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat77" onclick="change77()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat78" onclick="change78()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat79" onclick="change79()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat80" onclick="change80()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat81" onclick="change81()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat82" onclick="change82()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat83" onclick="change83()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat84" onclick="change84()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat85" onclick="change85()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat86" onclick="change86()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat87" onclick="change87()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat88" onclick="change88()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat89" onclick="change89()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat90" onclick="change90()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat91" onclick="change91()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat92" onclick="change92()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat93" onclick="change93()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat94" onclick="change94()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat95" onclick="change95()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat96" onclick="change96()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat97" onclick="change97()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat97" onclick="change97()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat98" onclick="change98()" src="./images/locker-room.png" alt="seat">
                <img class="seat" id="seat99" onclick="change99()" src="./images/locker-room.png" alt="seat">
            </div>
        </div>
    </div>
    <div class="nextprev">
        <a href="#" id="prev"><img src="./images/prev.png" alt=""></a>
        <a href="#" id="next"><img src="./images/next.png" alt=""></a>
    </div>
    <div class="int-area">
        <input type="text" id="locate" readonly placeholder="위치"/>
        <input type="text" id="price" readonly placeholder="가격"/>
    </div>
    <div class="int-area2">
        <form name="myform" action="">
            <label for="name">이름</label>
            <input type="text" id="name" value=""/>
            <label for="num">번호</label>
            <input type="text" id="num" value=""/>
            <button type="submit" onclick="check()">예약</button>
        </form>
    </div>
    <script src="scripts/imgbtn.js"></script>
    <script src="scripts/inputCheck.js"></script>
</body>
</html>