<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userMain</title>

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/u_reserve.css">

    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>
    <script src="/scripts/silde.js"></script>
</head>
<body>

<div class="header">
    <a href="/u"><img id="title" src="/images/mainTitle2.png" alt="title"></a>
    <a href="/u" id="home"><i class="fa fa-home fa-5x"></i></a>
</div>
<hr>
<div class="content">
    <ul class="slider-content simple-list" id="slider">
        <li class="slide">
            <h1>상단</h1>
            {{#lockers1}}
                <img class="seat" id="{{idx}}" onload="this.onload=null; statusCheck({{idx}}, '{{status}}')"
                     onclick=""
                     src="/images/locker-room.png" alt="seat"/>
            {{/lockers1}}
        </li>
        <li class="slide">
            <h1>중상단</h1>
            {{#lockers21}}
                <img class="seat" id="{{idx}}" onload="this.onload=null; statusCheck({{idx}}, '{{status}}')"
                     onclick=""
                     src="/images/locker-room.png" alt="seat"/>
            {{/lockers21}}
        </li>
        <li class="slide">
            <h1>중단</h1>
            {{#lockers41}}
                <img class="seat" id="{{idx}}" onload="this.onload=null; statusCheck({{idx}}, '{{status}}')"
                     onclick=""
                     src="/images/locker-room.png" alt="seat"/>
            {{/lockers41}}
        </li>
        <li class="slide">
            <h1>중하단</h1>
            {{#lockers61}}
                <img class="seat" id="{{idx}}" onload="this.onload=null; statusCheck({{idx}}, '{{status}}')"
                     onclick=""
                     src="/images/locker-room.png" alt="seat"/>
            {{/lockers61}}
        </li>
        <li class="slide">
            <h1>하단</h1>
            {{#lockers81}}
                <img class="seat" id="{{idx}}" onload="this.onload=null; statusCheck({{idx}}, '{{status}}')"
                     onclick=""
                     src="/images/locker-room.png" alt="seat"/>
            {{/lockers81}}
        </li>
    </ul>
</div>
<div class="nextprev">
    <a href="#" id="prev"><img src="/images/prev.png" alt=""></a>
    <a href="#" id="next"><img src="/images/next.png" alt=""></a>
</div>
<script src="scripts/imgbtn.js"></script>
</body>
</html>