<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>userMain</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/u_withdraw.css">
    
    <script type=text/javascript src="./libs/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="/u"><img id="title" src="./images/mainTitle2.png" alt="title"></a>
        <a href="/u" id="home"><i class="fa fa-home fa-5x"></i></a>
    </div>
    <hr>
    <div class="content">
       <div class="text">
           <img src="./images/drawText.png" alt="text">
       </div>
        <div class="int-area">
           <form name="myform" action="">
                <textarea name="quest" id="quest" cols="100"  rows="10"></textarea>
                <button id="sub-btn" onclick="check()" type="submit">탈퇴</button>
            </form>
            <img src="./images/sadimg.png" alt="sad">
        </div>
    </div>
    
    <script src="scripts/imgbtn.js"></script>
    <script src="scripts/inputCheck.js"></script>
</body>
</html>