<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>User Reservation</title>
    
    <link rel="stylesheet" href="/css/userStyle.css">
</head>
<body>
    <div class="wrapper">
       <div class="headder">
           <h2>DLMS</h2>
       </div>
        <ul>
            <li><a href="user_main.mustache">HOME</a></li>
            <li>마이페이지
                <ul>
                    <li><a href="#">예약확인</a></li>
                    <li><a href="#">예약취소 및 수정</a></li>
                    <li><a href="#">회원탈퇴</a></li>
                </ul>
            </li>
            <li><a href="user_reservation.mustache">예약하기</a></li>
            <li><a href="#">문의사항</a></li>
        </ul>
        <div class="contents">
            <div class="reserseat">
                <img src="/images/seat.jpg" alt="좌석상태">
            </div>
        </div>
    </div>
</body>
</html>