<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>User Main page</title>

    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/userStyle.css">
</head>
<body>
<div class="wrapper">
    <div class="headder">
        <h2>DLMS</h2>
    </div>
    <ul>
        <li><a href="/user">HOME</a></li>
        <li>마이페이지
            <ul>
                <li><a href="#">예약확인</a></li>
                <li><a href="#">예약취소 및 수정</a></li>
                <li><a href="#">회원탈퇴</a></li>
            </ul>
        </li>
        <li><a href="/user_form">예약하기</a></li>
        <li><a href="#">문의사항</a></li>
    </ul>
    <div class="contents">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a href="/posts/update/{{id}}">{{id}}-예약하기</a>
                        </button>
                    </td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
        <div class="seat">
            <img src="/images/seat.jpg" alt="좌석상태">
        </div>
    </div>
</div>
</body>
</html>